@import "tailwindcss";
@plugin "daisyui";
.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
  font-family: "Plus Jakarta Sans";
}

:root {
  --brand-gradient: linear-gradient(
    90deg,
    #f97316,
    #ec4899,
    #8b5cf6
  );
}